@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'Montserrat', sans-serif;
    color: #1d1d1f;
    font-style: normal;
}

.alert{
    position: fixed;
    top: 7px;
    left: -100%;
    z-index: 99999;
    background-color: RED;
    border-radius: 10px;
    padding: 10px;
    width: 30%;
    color: white;
    animation: unshow 6s linear;
}

@keyframes unshow{
    0%{
        left: 50%;
    }
    90%{
        left: 50%;
    }
    100%{
        left: -100%;
    }
}

.header-main{
    background-color: #1b1b1b;
    padding:0;
    margin:0;
}

.header-main a{
    color: #FFF;
}

a:hover{
    color: #FFF;
}