{% extends "base.html" %}
{% block title %} Afficher PERSONNES {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Id
						</th>
						<th class="" >
						  Nom
						</th>
						<th class="" >
						  Prénom
						</th>
						<th class="" >
						  Date de naissance
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_Personne }}
					  </th>
					  <th class="align-middle">
						{{ row.NomPers }}
					  </th>
					  <th class="align-middle">
						{{ row.PrenomPers }}
					  </th>
					  <th class="align-middle">
						{{ row.DateNaissPers }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('personnes_add') }}" role="button">Ajouter</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('personnes_edit', id_personne_edit_html=row.id_Personne) }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('personnes_select_delete', id_personne_delete_html=row.id_Personne) }}" role="button">Delete</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('gf_edit_personne_mail_selected', id_personne_mail_edit_html=row.id_Personne) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.PersAMail|default("PAS DE MAILS", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucune personne.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('personnes_add') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
